:root {
  --main-font-family: "Open Sans", sans-serif;
  --headings-font-family: "Lora", serif;
  --main-color: #2c3e50;
  --secondary-color: #d35400;
  --accent-color: #f1c40f;
  scroll-behavior: smooth;
}

p {
  font-family: var(--main-font-family);
  color: var(--main-color);
}

.hero {
  padding: 160px 20px;
  background: #ecf0f1;

  h1 {
    font-family: var(--headings-font-family);
    font-size: 96px;
  }

  h1,
  p,
  .name-intro {
    font-weight: 600;
  }

  p,
  .name-intro {
    font-size: 30px;
  }

  a {
    font-family: var(--main-font-family);
    color: var(--main-color);
  }

  .name-intro {
    margin-bottom: 0;
  }

  a.contact-button,
  a.projects-button {
    font-size: 18px;
    padding: 15px 24px;
  }

  a.contact-button {
    background: var(--accent-color);
  }

  a.projects-button {
    border: 2px solid var(--accent-color);
    background: #fff;
  }
}

.gallery-paragraph {
  font-family: var(--headings-font-family);
  font-size: 50px;
  color: var(--main-color);
}

.about-me-hero {
  margin: 100px auto;
  max-width: 700px;

  h1 {
    color: var(--secondary-color);
    font-family: var(--headings-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 1.5;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    color: var(--main-color);
  }

  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
}

.tldr {
  background: var(--accent-color);
  margin: 0 auto;
  max-width: 700px;
  border-radius: 4px;

  p {
    font-size: 24px;
  }

  i {
    color: var(--main-color);
    font-size: 36px;
  }

  h5 {
    color: var(--main-color);
    font-size: 16px;
    font-family: var(--main-font-family);
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;

    h1 {
      font-size: 50px;
    }

    p,
    .name-intro {
      font-size: 24px;
    }

    .gallery-paragraph {
      font-size: 40px;
    }
  }

  .about-me-hero {
    margin: 70px auto;

    h1 {
      font-size: 40px;
    }

    p,
    h1 {
      padding: 10px;
    }
  }

  .tldr,
  .about-me-hero {
    width: 90%;
  }
}
